<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[emoji_1]</key>
	<string>emoji_1_big</string>
	<key>[emoji2]</key>
	<string>emoji_2_big</string>
	<key>[emoji3]</key>
	<string>emoji_3_big</string>
	<key>[emoji4]</key>
	<string>emoji_4_big</string>
</dict>
</plist>
